/*
* CSS for animating the loader on a button
* On buttons the loader is hidden by default, and then animated in when shown
*
*/
$buttonEasing: ease-in-out;
$buttonDuration: 1s;
$animatedProperties: width;

// Make the loader image invisible
.animated-loader img {
  width: 0px;
  // tell the browser we are going to animate width, so it can enable GPU acceleration for this
  will-change: $animatedProperties;

}
// Make the loader image invisible
.animated-loader-expanded img {
  width: 32px;
  // tell the browser we are going to animate width, so it can enable GPU acceleration for this
  will-change: $animatedProperties;

}
// animation to expand the loader image
.animated-loader-animateExpand img {
  -webkit-transition: $animatedProperties $buttonDuration $buttonEasing;
  -moz-transition: $animatedProperties $buttonDuration $buttonEasing;
  -o-transition: $animatedProperties $buttonDuration $buttonEasing;
  transition: $animatedProperties $buttonDuration $buttonEasing;
}
// animation to collapse the loader image
.animated-loader-animateCollapse img {
  -webkit-transition: $animatedProperties $buttonDuration $buttonEasing;
  -moz-transition: $animatedProperties $buttonDuration $buttonEasing;
  -o-transition: $animatedProperties $buttonDuration $buttonEasing;
  transition: $animatedProperties $buttonDuration $buttonEasing;
}

