.animated-loader img{width:0px;will-change:width}.animated-loader-expanded img{width:32px;will-change:width}.animated-loader-animateExpand img{-webkit-transition:width 1s ease-in-out;-moz-transition:width 1s ease-in-out;-o-transition:width 1s ease-in-out;transition:width 1s ease-in-out}.animated-loader-animateCollapse img{-webkit-transition:width 1s ease-in-out;-moz-transition:width 1s ease-in-out;-o-transition:width 1s ease-in-out;transition:width 1s ease-in-out}
