/* HELPERS
 * This contains a number of CSS helper classes that accomplish things where inline styles would often be used
 */
/* Drag and Drop*/
[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element;
}
/* remove annoying borders from images */
img {
  border: none;
}

/* Vue.js needs this to hide unrendered template code */
[v-cloak] {
  display: none;
}

/* Reset annoying webkit form style */
button:focus {
  outline: 0;
}

/* Display and visibility */
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.display-none {
  display: none;
}

.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

/* Width */
.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

/* Aligning */
.center-margin {
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

/* Text align */
.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

/* Float */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

/* Clear float:right/left */
.clear-both {
  clear: both;
}
