<template>
    <div>
         <ul v-for="item in items">
            <li>{{item.username}} {{item.accountStatus}}</li>
         </ul>
    </div>
</template>

<script>

    export default {
      name: 'indexList',
      props: ["items"]
      }

</script>
