<template>
    <ul v-for="item in items">
        <li>{{item.username}} {{item.accountStatus}}</li>
    </ul>
</template>

<script type="text/babel">
    export default {
        name: "list",
        props: ["items"]
    }
</script>