<template>
    <div class="loading display-none" v-bind:id="'progress_' + block">
        <img class="loadingIndicator" v-bind:src="'templates/standard/images/symbols/' + indicator" />
    </div>
</template>

<script type="text/babel">
    export default {
        name: 'loader',
        props: ["block", "indicator"]
    }
</script>
